@model CategoryContext
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = $"Category - {Model.Category.Name}";
}

<h2>@Model.Category.Name</h2>

<button id="notify-btn" class="notify-btn btn btn-default hidden" disabled><span class="glyphicons glyphicons-bell"></span> Get Notified of new Topics</button>
<div><h4>Topics: </h4></div>
<div>
    <ul>
        @foreach (var topic in Model.Topics)
        {
            <li>
                <a asp-controller="topic" asp-action="show" asp-route-id="@topic.Id">@topic.Title</a>
            </li>
        }
    </ul>
</div>


<div>
    <a asp-controller="Topic" asp-action="Create">Create new Topics!</a>
</div>
<script src="~/js/topic.js"></script>