<div class="page">
  <div class="header">
    <div class="gutter"></div>
    <div class="header-content">
      <div>
        <a href=""><i class="fa fa-camera fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="font-lobster">
        <a href="">Jellypic</a>
      </div>
      <div class="header-content-icons text-right">
        <div></div>
        <div>
          <a href=""><i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i></a>
        </div>
        <div>
          <a href=""><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
        </div>
        <div>
          <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="gutter"></div>
  </div>
  <div class="canvas">
    <div class="canvas-stream">
      <div class="gutter"></div>
      <div class="main main-stream">
        <div class="card">
          <div class="card-heading">
            <div class="card-heading-user">
              <div class="card-heading-user-image">
                <img src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_30,r_max,w_30/v1427815401/bd0ar4wsjxmqtqvqcycf.png" />
              </div>
              <div class="card-heading-user-name">
                <a href="">johnnyoshika</a>
              </div>
            </div>
            <div class="card-heading-time text-right">
              20h
            </div>
          </div>
          <div class="card-photo">
            <img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fit,h_600,w_600/v1495017309/2017-05-15_21.04_2_sruepp.jpg" />
          </div>
          <div class="card-info">
            <div class="card-info-likes">
              100,000 likes
            </div>
            <div class="card-info-comments">
              <div class="card-info-comment">
                <div class="card-info-comment-user pull-left">
                  <a href="">johnnyoshika</a>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus placerat nisi, vel blandit elit semper a. Fusce quis purus ut neque tincidunt convallis id molestie tellus. Phasellus aliquet accumsan turpis, sed aliquet sem eleifend at. In eros
                tortor, egestas sit amet aliquet vel, pellentesque sed purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus condimentum felis aliquet maximus facilisis. Vivamus hendrerit ligula magna,
                eget commodo lorem ullamcorper ac. Curabitur porttitor fermentum purus ac sodales.
              </div>
            </div>
            <div class="card-info-comment">
              <div class="card-info-comment-user pull-left">
                <a href="">johnnyoshika</a>
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus placerat nisi, vel blandit elit semper a. Fusce quis purus ut neque tincidunt convallis id molestie tellus. Phasellus aliquet accumsan turpis, sed aliquet sem eleifend at. In eros
              tortor, egestas sit amet aliquet vel, pellentesque sed purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus condimentum felis aliquet maximus facilisis. Vivamus hendrerit ligula magna,
              eget commodo lorem ullamcorper ac. Curabitur porttitor fermentum purus ac sodales.
            </div>
            <div class="card-info-add-comment">
              <div>
                <a href=""><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
              </div>
              <div>
                <input class="card-info-add-comment-input" type="text" placeholder="Add a comment..." />
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-heading">
            <div class="card-heading-user">
              <div class="card-heading-user-image">
                <img src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_30,r_max,w_30/v1427815401/bd0ar4wsjxmqtqvqcycf.png" />
              </div>
              <div class="card-heading-user-name">
                <a href="">johnnyoshika</a>
              </div>
            </div>
            <div class="card-heading-time text-right">
              20h
            </div>
          </div>
          <div class="card-photo">
            <img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fit,h_600,w_600/v1495017309/2017-05-15_21.04_2_sruepp.jpg" />
          </div>
          <div class="card-info">
            <div class="card-info-likes">
              100,000 likes
            </div>
            <div class="card-info-comments">
              <div class="card-info-comment">
                <div class="card-info-comment-user pull-left">
                  <a href="">johnnyoshika</a>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus placerat nisi, vel blandit elit semper a. Fusce quis purus ut neque tincidunt convallis id molestie tellus. Phasellus aliquet accumsan turpis, sed aliquet sem eleifend at. In eros
                tortor, egestas sit amet aliquet vel, pellentesque sed purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus condimentum felis aliquet maximus facilisis. Vivamus hendrerit ligula magna,
                eget commodo lorem ullamcorper ac. Curabitur porttitor fermentum purus ac sodales.
              </div>
            </div>
            <div class="card-info-comment">
              <div class="card-info-comment-user pull-left">
                <a href="">johnnyoshika</a>
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus placerat nisi, vel blandit elit semper a. Fusce quis purus ut neque tincidunt convallis id molestie tellus. Phasellus aliquet accumsan turpis, sed aliquet sem eleifend at. In eros
              tortor, egestas sit amet aliquet vel, pellentesque sed purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus condimentum felis aliquet maximus facilisis. Vivamus hendrerit ligula magna,
              eget commodo lorem ullamcorper ac. Curabitur porttitor fermentum purus ac sodales.
            </div>
            <div class="card-info-add-comment">
              <div>
                <a href=""><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
              </div>
              <div>
                <input class="card-info-add-comment-input" type="text" placeholder="Add a comment..." />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gutter"></div>
    </div>
  </div>
</div>

<br /><br /><br />

<div class="page">
  <div class="header">
    <div class="gutter"></div>
    <div class="header-content">
      <div>
        <a href=""><i class="fa fa-camera fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="font-lobster">
        <a href="">Jellygram</a>
      </div>
      <div class="header-content-icons text-right">
        <div></div>
        <div>
          <a href=""><i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i></a>
        </div>
        <div>
          <a href=""><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
        </div>
        <div>
          <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="gutter"></div>
  </div>
  <div class="canvas">
    <div class="canvas-profile">
      <div class="gutter"></div>
      <div class="main main-profile">
        <div class="headline">
          <div class="profile-photo">
            <img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_152,r_max,w_152/v1427815401/bd0ar4wsjxmqtqvqcycf.png" />
          </div>
          <div class="profile-info">
            <div class="profile-info-username">
              johnnyoshika
            </div>
            <div class="profile-info-social-stats">
              <div><strong>169</strong> posts</div>
              <div><strong>71</strong> followers</div>
              <div><strong>22</strong> following</div>
            </div>
            <div class="profile-info-name">
              <strong>Johnny Oshika</strong>
            </div>
          </div>
        </div>
        <div class="photos">
          <div class="photo"><img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_293,w_293/v1433342408/zacrepwlrqac6x5tozu9.jpg" /></div>
          <div class="photo"><img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_293,w_293/v1433342408/zacrepwlrqac6x5tozu9.jpg" /></div>
          <div class="photo"><img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_293,w_293/v1433342408/zacrepwlrqac6x5tozu9.jpg" /></div>
          <div class="photo"><img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_293,w_293/v1433342408/zacrepwlrqac6x5tozu9.jpg" /></div>
          <div class="photo"><img class="image-100" src="http://res.cloudinary.com/dfk3jxiqp/image/upload/c_fill,g_auto:faces,h_293,w_293/v1433342408/zacrepwlrqac6x5tozu9.jpg" /></div>
        </div>
        <div class="gutter"></div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />

<div>
  <div class="canvas">
    <div class="canvas-login">
      <div class="gutter"></div>
      <!-- TODO: center vertically: https://css-tricks.com/almanac/properties/g/grid-row-column-align/ -->
      <div class="main main-login">
        <div class="font-lobster text-center flex-mb-40">
          Jellygram
        </div>
        <div class="text-center">
          <a href="" class="btn">Log in with Facebook</a>
        </div>
      </div>
      <div class="gutter"></div>
    </div>
  </div>
</div>